Repository wznoinsk/RHOAI-Build-Config: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhoai-fbc-fragment-rhoai-216-ocp-418-on-push, rhoai-fbc-fragment-rhoai-217-ocp-415-on-push, rhoai-fbc-fragment-rhoai-218-ocp-415-on-push

rhoai-fbc-fragment-rhoai-216-ocp-418-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: rhoai-version
    value: rhoai-2.16
  - name: ocp-version
    value: ocp-4.18
  - name: build-platforms
    value:
    - linux/x86_64
  - name: output-image
  ...

rhoai-fbc-fragment-rhoai-217-ocp-415-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: rhoai-version
    value: rhoai-2.17
  - name: ocp-version
    value: ocp-4.15
  - name: build-platforms
    value:
    - linux/x86_64
  - name: output-image
  ...

rhoai-fbc-fragment-rhoai-218-ocp-415-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: rhoai-version
    value: rhoai-2.18
  - name: ocp-version
    value: ocp-4.15
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/ppc64le
    - linux/s390x
  - name: output-image
  ...

Delete .github/workflows/check-trigger.yaml
  .github/workflows/check-trigger.yaml
Due: none

Create test.yaml
  .github/workflows/test.yaml
Due: none

triggering rerun for rhoai-2.16 ocp v4.18
  catalog/rhoai-2.16/v4.18/rhods-operator/catalog.yaml
Due: rhoai-fbc-fragment-rhoai-216-ocp-418-on-push

Patching the stage catalog with rhoai-2.16
  catalog/rhoai-2.16/v4.18/rhods-operator/catalog.yaml
Due: rhoai-fbc-fragment-rhoai-216-ocp-418-on-push

Patching the stage catalog with rhoai-2.16
  builds/force-trigger.txt
Due: rhoai-fbc-fragment-rhoai-216-ocp-418-on-push, rhoai-fbc-fragment-rhoai-217-ocp-415-on-push, rhoai-fbc-fragment-rhoai-218-ocp-415-on-push

Update test-trigger.yaml
  .github/workflows/test-trigger.yaml
Due: none

Update renovate.json
  .github/renovate.json
Due: none

Update bundle-insta-merge.yaml for 2.20 and above
  .github/workflows/bundle-insta-merge.yaml
Due: none

Update fbc-insta-merge.yaml for instamerge of 2.20
  .github/workflows/fbc-insta-merge.yaml
Due: none

Path conditions:
  rhoai-fbc-fragment-rhoai-216-ocp-418-on-push: (any of: catalog/rhoai-2.16/v4.18/rhods-operator/catalog.yaml) or (any of: builds/force-trigger.txt)
  rhoai-fbc-fragment-rhoai-217-ocp-415-on-push: (any of: catalog/rhoai-2.17/v4.15/rhods-operator/catalog.yaml) or (any of: builds/force-trigger.txt)
  rhoai-fbc-fragment-rhoai-218-ocp-415-on-push: (any of: catalog/rhoai-2.18/v4.15/rhods-operator/catalog.yaml) or (any of: builds/force-trigger.txt)
